.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    height: 100vh;
  }
  
  .form-container {
    width: 75%;
    background-color: #e9e8e8;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  .row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .column {
    flex: 1;
    margin-right: 10px;
  }
  
  input,
  select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  input::placeholder {
    color: #aaa;
  }
  
  .btn-update,
  .btn-back {
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
  }
  
  .btn-update {
    background-color: #28a745;
    color: #fff;
    margin-right: 10px;
  }
  
  .btn-back {
    background-color: #007bff;
    color: #fff;
  }
  
  .error {
    color: red;
    font-size: 12px;
  }

  textarea {
    width: 100%; /* Ajusta a largura */
    height: 100px; /* Define a altura fixa */
    resize: none; /* Impede o redimensionamento */
    padding: 8px; /* Adiciona um padding */
    border: 1px solid #ccc; /* Estilo de borda */
    border-radius: 4px; /* Borda arredondada */
  }
  
  @media (max-width: 768px) {
    .form-container {
        width: 100%;
        padding: 15px;
    }

    h2 {
        text-align: center;
        font-size: 22px;
    }
  }