@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Open+Sans:wght@400;600;700&display=swap");

:root {
    --bg-color2: #FFFFFF;
    --second-bg-color2: #323A3C;
    --text-color2: #000000;
    --main-color2: rgb(255, 123, 0);
}

.container-about {
    background: #222831;
    justify-content: center;
    /* align-items: center; */
    display: flex;
    color: #ffffff;
    padding: 0;
    height: 100vh;
    margin: 0px;
}

.row-about {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 100vh;
}

.img-box-about {
    width: 40%;
    background: transparent;
    padding: 0px 2%;
    height: 100vh;
}

.img-box-about img {
    padding: 30% 100px;
    width: 100%;
    background: transparent;
}

.detail-box-about {
    padding: 11% 2%;
    text-align: left;
    height: 100vh;
    line-height: 20px;
    justify-content: center;
    width: 40%;
}

.heading_about h2 {
    font-family: 'Dancing Script', cursive;
    margin-bottom: 20px;
    color: var(--main-color2);
    font-size: 40px;
}

.btn-about {
    margin-top: 20px;
}

.btn-content-about {
    margin-top: 40px;
    padding: 10px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.89);
    border: none;
    background-color: rgb(255, 145, 0);
    border-radius: 30px;
    font-size: 20px;
}

.btn-content-about:hover {
    color: rgb(255, 145, 0);
    background-color: white;
    transition: 0.5s;
    border: none;
}

@media only screen and (max-width: 1200px) {
    .container-about {
        color: #ffffff;
        margin-top: 0px;
        padding-top: 20px;
        flex-direction: column-reverse;
    }

    .detail-box-about {
        padding: 10% 2%;
        text-align: left;
        height: auto;
        line-height: 20px;
        justify-content: center;
        flex-direction: column-reverse;
    }

    .row-about {
        display: flex;
        height: auto;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        padding: 0rem 1rem;
    }

    .img-box-about {
        width: 100%;
        height: auto;
    }

    .img-box-about img {
        padding: 10% 20% 2% 20%;
    }

    .detail-box-about {
        width: 100%;
    }

}



@media (max-width: 720px) {
    .container-about {
        color: #ffffff;
        margin-top: 0px;
        padding-top: 50px;
        height: 100vh;
        flex-direction: column-reverse;
    }

    .detail-box-about {
        padding: 10% 2%;
        text-align: left;
        height: auto;
        line-height: 20px;
        justify-content: center;
        flex-direction: column-reverse;
    }

    .row-about {
        display: flex;
        height: auto;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        padding: 0rem 1rem;
    }

    .img-box-about {
        width: 100%;
        height: auto;
    }

    .img-box-about img {
        padding: 50px;
    }

    .detail-box-about {
        width: 100%;
    }
}
