
h1{
  color: white;
}
.custom-container {
  border: none;
}

.btn-info, .btn-primary, .btn-danger {
  border: 2px solid transparent;
  border-radius: 0.375rem;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.2s, border-color 0.2s;
}

.btn-info:hover {
  background-color: #c7e9ef;
  border-color: #8ed1da;
}

.btn-primary:hover {
  background-color: #b4d1f0;
  border-color: #89b3e1;
}

.btn-danger:hover {
  background-color: #dfb0b4;
  border-color: #b5636c;
}

.custom-container {
  width: 100%;
  max-width: 100%;
}
  
@media (max-width: 768px) {
  .custom-container {
    width: 100%;
  }
}
  