:root {
    --bg-color1: #FFFFFF;
    --second-bg-color1: #F1F2F3;
    --text-color1: #000000;
    --main-color1: rgb(255, 123, 0);
}

.section-title {
    color: var(--main-color);
    font-size: 2rem;
}

.section-subtitle {
    font-size: 2.5rem;
}

.img-box {
    width: 100%;
    padding: 10px;
    background: var(--second-bg-color1);
    border-radius: 0px 0px 0px 50px;
}

.img-box img {
    width: 100%;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

#menu {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

#dishes {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    margin: 32px 0px 32px 0px;
}

.dish {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    gap: 19px;
    width: 20%;
    padding-bottom: 10px;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
    background: #323A3C;

}

.dish-title {
    color: white;
}

.dish-heart {
    position: absolute;
    background-color: #323A3C;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.563rem;
    color: var(--main-color1);
    width: 70px;
    height: 70px;
    right: -10px;
    top: -10px;
    border-radius: 0px 37.5px 0px 42.5px;
}

.dish-description {
    color: white;
    text-align: center;
}

.dish-rate i {
    color: var(--color-primary-6);
    color: white;
    padding: 5px;
}

.dish-price {
    display: flex;
    color: white;
    align-items: center;
    gap: 2px;
}

.btn-default1 {
    margin-left: 10px;
    padding: 5px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.89);
    background-color: rgb(255, 145, 0);
    border: none;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}

.btn-default1:hover {
    color: rgb(255, 145, 0);
    background-color: white;
    transition: 0.5s;
    border: none;
}

@media only screen and (max-width: 1200px) {
    .section-title {
        color: var(--main-color);
        font-size: 2rem;
    }

    .section-subtitle {
        font-size: 2.5rem;
    }

    #menu {
        padding-top: 50px;
    }

    #dishes {
        width: 100%;
        padding: 0px 2%;
    }

    .dish {
        gap: 19px;
        width: calc(50% - 12px);
        padding-bottom: 3%;
    }

}

@media (max-width: 720px) {
    .section-title {
        color: var(--main-color);
        font-size: 2rem;
    }

    .section-subtitle {
        font-size: 2.5rem;
        text-align: center;
    }

    #menu {
        padding-top: 50px;
    }

    #dishes {
        flex-direction: column;
        justify-content: center;
        width: 100%;
        padding: 0px 3%;
    }

    .dish {
        gap: 19px;
        width: 100%;
        padding-bottom: 4%;
    }
}

@media (max-width: 320px) {
    .section-title {
        color: var(--main-color);
        font-size: 2rem;
    }

    .section-subtitle {
        font-size: 2.5rem;
        text-align: center;
    }

    #menu {
        padding-top: 50px;
    }

    #dishes {
        flex-direction: column;
        justify-content: center;
        width: 100%;
        padding: 0px 3%;
    }

    .dish {
        gap: 19px;
        width: 100%;
        padding-bottom: 4%;
    }
}