@import url('./Front-office/components/Menu.css');
@import url('./Front-office/components/Footer.css');
@import url('./Front-office/components/LoginRegisterForm.css');
@import url('./Front-office/components/MenuServicos.css');
@import url('./Front-office/components/bebida/Bebidas.css');
@import url('./Front-office/components/comida/Comida.css');
@import url('./Front-office/components/reserva/Reserva.css');

@import url('./Front-office/pages/Home/Home.css');
@import url('./Front-office/pages/Cardapio/Cardapio.css');
@import url('./Front-office/pages/Sobre/Sobre.css');

:root {
  --bg-color: #FFFFFF;
  --second-bg-color1: #F1F2F3;
  --second-bg-color: #323A3C;
  --text-color: #000000;
  --second-color: #150F03;
  --main-color: #F2C771;
  --main-color2: #FF7B00;
}

* {
  padding: 0;
  margin: 0;
}

