:root {
    --bg-color1: #FFFFFF;
    --second-bg-color1: #F1F2F3;
    --text-color1: #000000;
    --main-color1: rgb(255, 123, 0);
}

.select-servico {
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    margin: 50% 0px 15px 0px;
    width: 100%;
}

.select-servico li {
    padding: 0px;
    cursor: pointer;
    border-radius: 0px;
    margin-right: 10px;
    font-size: 1.2rem;
}

.select-servico a {
    text-decoration: none;
    color: #000000;
    padding: 6px 13px;
    cursor: pointer;
    border-radius: 30px;
    margin: 0px;
    font-size: 1.2rem;
}

.select-servico li a:hover {
    color: white;
    background-color: var(--main-color);
    transition: .1s;


}

.select-servico a.active {
    background-color: var(--main-color);
    color: white;
}


@media (max-width: 720px) {

    .select-servico {
        margin: 50% 0px 20px 0px;
    }

    .select-servico li {
        padding: 0px;
        cursor: pointer;
        border-radius: 0px;
        margin-right: 10px;
        font-size: 1.2rem;
    }

    .select-servico a {
        text-decoration: none;
        /* color: #000000; */
        padding: 6px 13px;
        cursor: pointer;
        border-radius: 30px;
        margin: 0px;
        font-size: 1.2rem;
    }
}