.select-servico {
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    margin: 0% 0px 15px 0px;
    width: 100%;
}

.select-servico li {
    padding: 0px;
    cursor: pointer;
    border-radius: 0px;
    margin-right: 10px;
    font-size: 1.2rem;
}

.select-servico a {
    text-decoration: none;
    color: #000000;
    padding: 3px 13px;
    cursor: pointer;
    border-radius: 30px;
    margin: 0px;
    text-align: center;
    font-size: 1.1rem;
}

.select-servico li a:hover {
    color: var(--main-color);
    transition: .3s;
}

.select-servico a.active {
    background-color: #150F03;
    color: var(--main-color);
    border: 2px solid var(--main-color);
}


@media (max-width: 720px) {

    .select-servico {
        margin: 15% 0px 20px 0px;
    }

    .select-servico li {
        padding: 0px;
        cursor: pointer;
        border-radius: 0px;
        margin-right: 10px;
        font-size: 1.2rem;
    }

    .select-servico a {
        text-decoration: none;
        padding: 6px 13px;
        cursor: pointer;
        border-radius: 30px;
        margin: 0px;
        font-size: 1.2rem;
    }
}